html { overflow-x: hidden; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 1.8em;
    overflow-x: hidden;
    margin: auto;
    background-color: antiquewhite;
}

.header{
    background-color: aqua;
    height: 200px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h3 {
    margin-top: 0;
}

.video-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section {
    margin: 20px;
}

video {
    width: 100%;
    max-width: 800px;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h3 {
    margin-top: 0;
}

.video-container {
    justify-content: space-around;
    flex-wrap: wrap;
}


